{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "always-multiline"],
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "max-len": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/destructuring-assignment": [<enabled>, "always", { "ignoreClassFields": "true" }],
    "react/forbid-prop-types": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0],
    "spaced-comment": "off"
  }
}
