@import 'reset';
@import 'theme';

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  position: relative;
  font-family: $fontSecondary;
  a {
    text-decoration: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: $colorGradientGray;
  z-index: 1;

  a {
    color: $colorGrayDark;
    transition: all .25s $cubicBezier;

    .material-icons {
      font-size: 1em;
      margin-right: 6px;
      vertical-align: middle;
    }

    &:hover {
      color: $colorGray;
    }
  }

  h1 {
    font-size: 2em;
    font-family: $fontPrimary;
    margin-left: 3%;

    a {
      display: block;
      width: 140px;
      height: 100px;
      line-height: 100px;
    }
  }

  .navigation {
    position: absolute;
    right: 3%;
    top: 0;
    height: 100px;
    font-size: 1.4em;

    a {
      display: block;
      float: left;
      line-height: 100px;
      padding: 0 26px;
    }
  }
}

.loading {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 6px solid $colorYellow;
  border-top-color: transparent;
  text-indent: -999em;
  position: absolute;
  left: 50%;
  top: 400px;
  margin: -28px 0 0 -28px;
  animation-name: spinLoader;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

.container {
  margin: 100px auto;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
  background: $colorGradientDarkAlpha, url('../images/hero-banner.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $colorWhite;
  text-align: center;
  position: relative;

  h2,
  p {
    margin-left: 25%;
    margin-right: 25%;
    opacity: 0;
    animation: fadeUp .35s $cubicBezier .25s forwards;
  }

  h2 {
    font-family: $fontPrimary;
    font-size: 4em;
    padding-top: 6%;
    margin-bottom: 35px;

    .material-icons {
      color: $colorRed;
      font-size: 100%;
      vertical-align: bottom;
    }
  }

  p {
    font-size: 2.2em;
    line-height: 1.9;
    margin-bottom: 10px;
  }

  .attr {
    position: absolute;
    right: 16px;
    bottom: 11px;
    font-size: 1.2em;
    margin: 0;
    padding: 0;

    a {
      color: $colorWhite;
    }
  }
}

.featured {
  margin-bottom: 30px;
  overflow: hidden;

  >h2 {
    text-align: center;
    font-family: $fontPrimary;
    font-size: 3.6em;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeUp .35s $cubicBezier .25s forwards;
  }

  .favorite-list-item {
    width: 17%;
    margin: 1.5%;
    float: left;
    opacity: 0;
    animation: animateList .35s $cubicBezier .35s forwards;
    transition: all .35s $cubicBezier;

    >h3 {
      font-family: $fontPrimary;
      font-size: 1.8em;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center;
    }

    .container-list-item {
      width: 100%;
    }

    @for $i from 1 to 10 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.15s;
      }
    }
  }

  &.rating-comparison {
    h2 {
      margin-bottom: 30px;
    }
  }

  .rating-comparison-item {
    padding: 0 3.2%;
    margin: 15px 0;
    overflow: hidden;
    $ratingComparisonHeight: 60px;
    height: $ratingComparisonHeight;

    h3 {
      width: 120px;
      font-family: $fontPrimary;
      font-size: 1.8em;
      font-weight: 900;
      text-transform: uppercase;
      text-align: right;
      float: left;
      height: $ratingComparisonHeight;
      line-height: $ratingComparisonHeight;
    }

    .comparison-bar {
      position: relative;
      width: calc(100% - 130px);
      float: right;
      height: $ratingComparisonHeight;

      .comparison-outer,
      .comparison-inner {
        height: $ratingComparisonHeight;
        position: absolute;
        left: 0;
        top: 0;
      }

      .comparison-outer {
        width: 100%;
        background: $colorGrayLight;
        opacity: 0;
        animation: growRight .7s $cubicBezier .35s forwards;
        transition: all .7s $cubicBezier;
      }

      .comparison-inner {
        width: 50%;
        background: $colorGradientYellow;
      }

      p {
        margin-left: -50px;
        height: $ratingComparisonHeight;
        line-height: $ratingComparisonHeight;
        font-family: $fontPrimary;
        font-size: 1.6em;
        font-weight: 900;
        text-transform: uppercase;
        position: absolute;
        color: $colorWhite;
      }
    }
  }

  &.age-price-comparison {
    padding: 1.5%;

    .age-price-comparison-item {
      width: 17%;
      margin: 1.5%;
      float: left;
      opacity: 0;
      animation: animateList 0.35s $cubicBezier 0.35s forwards;
      transition: all 0.35s $cubicBezier;

      >h3 {
        font-family: $fontPrimary;
        font-size: 1.8em;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
      }

      .age-price-comparison-detail {
        background: $colorGradientYellow;
        padding: 20px;
        text-align: center;
        color: $colorWhite;

        h4 {
          font-family: $fontPrimary;
          font-weight: 900;
          font-size: 3.6em;
          margin: 30px auto 10px;
        }

        p {
          font-size: 1.4em;
          margin-bottom: 30px;
        }

        .price-comparison-detail-card {
          border-bottom: 1px solid $colorWhite;
        }
      }

      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.15s;
        }
      }
    }
  }
}

.container-list {
  padding: 1.5%;
  opacity: 0;
  animation: fadeUp .35s $cubicBezier .25s forwards;

  .container-list-item {
    width: 17%;
    margin: 1.5%;
    float: left;
    overflow: hidden;
    color: $colorBlack;
    transition: all 250ms $cubicBezier;

    &:hover {
      box-shadow: rgba(0,0,0,0.3) 0 4px 10px;
    }

    .container-image {
      width: 100%;
      vertical-align: middle;
    }

    .container-detail {
      $containerDetailHeight: 80px;
      $containerDetailRatingWidth: 75px;
      height: $containerDetailHeight;
      font-family: $fontPrimary;
      background: $colorGradientYellow;
      position: relative;

      h2 {
        font-size: 1.8em;
        padding: 20px 0 0 15px;
        margin: 0 10px 4px $containerDetailRatingWidth;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 45px;
      }

      h3 {
        font-size: 1.4em;
        padding-left: 15px;
        margin: 0 10px 0 $containerDetailRatingWidth;
        font-family: $fontSecondary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 25px;
      }

      h4 {
        position: absolute;
        left: 0;
        top: 0;
        height: $containerDetailHeight;
        line-height: $containerDetailHeight;
        width: $containerDetailRatingWidth;
        background: rgba(0,0,0,0.1);
        font-size: 1.8em;
        font-weight: 900;
        text-align: center;


        span {
          font-size: 70%;
        }
      }
    }
  }
}

.taster-list {
  .taster-list-item {
    .container-detail {
      h2,
      h3 {
        padding-left: 0;
        margin-left: 0;
        text-align: center;
      }
    }
  }
}

.detail {
  .back-btn {
    position: absolute;
    right: 1.5%;
    color: $colorWhite;
    font-size: 3.6em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: $colorGrayDark;
    text-align: center;
    cursor: pointer;
    transition: all .25s $cubicBezier;

    &:hover {
      opacity: 0.7;
    }
  }
}

.whisky-detail {
  position: absolute;
  top: calc(50% + 90px);
  margin: 0 3%;
  width: 94%;
  opacity: 0;
  animation: slideRight .35s $cubicBezier .25s forwards;
  background: $colorGradientBlack;
  overflow: hidden;
  $whiskyDetailProportion: 460px;

  .whisky-detail-image {
    width: $whiskyDetailProportion;
    height: $whiskyDetailProportion;
    float: left;
  }

  .whisky-detail-content {
    width: calc(100% - 460px);
    height: $whiskyDetailProportion;
    float: right;
    color: $colorWhite;

    h2,
    h3,
    p {
      padding-left: 40px;
      padding-right: 40px;
    }

    h2 {
      font-size: 4.2em;
      font-family: $fontPrimary;
      padding-top: 40px;
      padding-bottom: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 105px;
    }

    h3 {
      font-size: 2.4em;
      padding-bottom: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 47px;
    }

    p {
      font-size: 1.4em;
      padding-bottom: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 31px;
      border-bottom: 1px solid $colorGrayDark;
    }

    .back-btn {
      top: 67px;
    }

    .ratings {
      height: 276px;
      width: 100%;
      position: relative;
      $chartBottomPadding: 20px;
      padding-top: $chartBottomPadding;

      .ratings-x-axis {
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: $chartBottomPadding;
        left: 0;
        border-top: 1px dashed $colorGrayDark;
      }

      .ratings-y-axis {
        position: absolute;
        width: 100%;
        height: calc(100% - 40px);

        .pct-label {
          width: 50px;
          text-align: right;
        }

        .pct-line {
          margin-top: -10px;
          border-top: 1px dashed $colorGrayDark;
        }
      }

      .ratings-chart {
        width: calc(100% - 50px);
        float: right;
        height: 100%;

        .rating {
          height: 100%;
          float: left;
          position: relative;
          opacity: 0;
          animation: animateList .35s $cubicBezier .35s forwards;
          transition: all .35s $cubicBezier;

          @for $i from 1 to 10 {
            &:nth-child(#{$i}) {
              animation-delay: $i * 0.15s;
            }
          }

          .rating-score {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 20px);

            .rating-score-line {
              height: 100%;
              width: 50%;
              position: absolute;
              left: 50%;
              top: 0;
              border-left: 1px dashed $colorGrayDark;
            }

            .rating-score-point-container {
              position: absolute;
              left: 0;
              bottom: 0;
              width: $chartBottomPadding;
              left: 50%;

              .rating-score-point {
                background: $colorGradientYellow;
                position: absolute;
                top: -10px;
                left: -10px;
                width: $chartBottomPadding;
                height: $chartBottomPadding;
                border-radius: 50%;
              }
            }
          }

          .rating-name {
            position: absolute;
            left: 0;
            bottom: 0;
            height: $chartBottomPadding;
            line-height: $chartBottomPadding;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  h4 {
    float: left;
    width: $whiskyDetailProportion;
    height: 120px;
    line-height: 120px;
    color: $colorWhite;
    background: $colorGradientYellow;
    text-align: center;
    font-family: $fontPrimary;
    font-weight: 900;
    font-size: 3.6em;
  }

  .attributes {
    height: 120px;
    width: calc(100% - 460px);
    line-height: 120px;
    background: $colorBlack;
    color: $colorGray;
    position: absolute;
    right: 0;
    bottom: 0;

    .attribute {
      padding: 0 2.5%;
      float: left;
      width: 25%;

      .attribute-key {
        line-height: 120px;
        font-size: 2.2em;
        margin: 0 .3em;
        float: left;
      }

      .attribute-value {
        line-height: 120px;
        font-size: 1.4em;
        float: left;
      }

    }
  }
}

.taster-detail {
  opacity: 0;
  animation: slideRight .35s $cubicBezier .25s forwards;

  .taster-detail-content {
    background: $colorGradientBlack;
    color: $colorWhite;
    overflow: hidden;
    position: relative;

    .taster-detail-image {
      width: 140px;
      height: 140px;
      float: left;
    }

    .name,
    p {
      margin-left: calc(140px + 1.5%);
    }

    .name {
      margin-top: 35px;
      margin-bottom: 10px;
      height: 30px;

      h2 {
        font-family: $fontPrimary;
        font-size: 2.8em;
        float: left;
        margin-right: 20px;
      }

      .material-icons,
      .pro {
        font-size: 1.4em;
        line-height: 30px;
        margin-right: 6px;
        vertical-align: bottom;
      }

      .pro {
        text-transform: uppercase;
      }
    }

    p {
      font-size: 1.4em;
    }

    .back-btn {
      top: 50%;
      margin-top: -25px;
    }
  }

  >h3 {
    text-align: center;
    font-family: $fontPrimary;
    font-size: 3.6em;
    margin: 40px auto 0;
  }
}

.footer {
  background: $colorGradientGray;
  color: $colorGray;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;

  p {
    font-size: 1.2em;

    .material-icons {
      color: $colorRed;
      font-size: 100%;
      vertical-align: bottom;
    }

    a {
      color: $colorGrayDark;
      transition: all .25s $cubicBezier;

      &:hover {
        color: $colorBlack;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    h2,
    p {
      margin-left: 10%;
      margin-right: 10%;
    }

    h2 {
      font-size: 2em;
      padding-top: 18%;
    }

    p {
      font-size: 1.6em;
    }

    .attr {
      right: 0;
      width: 100%;
    }
  }

  .featured {
    > h2 {
      font-size: 1.8em;
    }

    .rating-comparison-item {
      h3 {
        width: 80px;
        font-size: 1.2em;
      }

      .comparison-bar {
        width: calc(100% - 90px);
      }
    }

    .favorite-list-item {
      width: 97%;

      > h3 {
        font-size: 1.2em;
      }
    }
  }

  &.featured.age-price-comparison {
    .age-price-comparison-item {
      width: 97%;

      > h3 {
        font-size: 1.2em;
      }

      .age-price-comparison-detail {
        padding: 20px 10px;
        float: left;
        width: 100%;

        .price-comparison-detail-card {
          border-bottom-color: transparent;
          border-right: 1px solid $colorWhite;
        }

        .price-comparison-detail-card,
        .age-comparison-detail-card {
          width: 50%;
          float: left;
        }

        h4 {
          font-size: 2.6em;
          margin: 0 auto 10px;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .container {
    margin: 100px auto 52px;
  }

  .container-list {
    .container-list-item {
      margin: 0 auto 1.5%;
      width: 100%;

      .container-image {
        width: 100px;
      }

      .container-detail {
        height: 100px;
        width: calc(100% - 100px);
        float: right;

        h2,
        h3 {
          margin-left: 0;
        }

        h2 {
          padding: 25px 0 0 15px;
          height: 50px;
        }

        h4 {
          left: auto;
          right: 0;
          height: 100px;
          line-height: 100px;
        }
      }
    }
  }

  .taster-list {
    .taster-list-item {
      .container-detail {
        h2,
        h3 {
          text-align: left;
          margin-left: 15px;
          padding-left: 0;
        }
      }
    }
  }

  .taster-detail {
    .taster-detail-content {
      .taster-detail-image {
        width: 100px;
        height: 100px;
      }

      .name {
        margin-left: 115px;
        margin-top: 25px;
        margin-bottom: 10px;
        height: 30px;

        h2 {
          font-size: 1.8em;
          margin-right: 10px;
        }

        .pro,
        .material-icons {
          font-size: 1.2em;
          line-height: 20px;
        }
      }

      p {
        margin-left: 115px;
        font-size: 1.2em;
      }
    }

    .back-btn {
      top: 50%;
      margin-top: -18px;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }

    h3 {
      font-size: 1.8em;
      margin: 30px auto 10px;
    }
  }
}
